.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.icon-container img {
  position: absolute;
  top: 10px; /* Adjust these values as needed */
  left: 40px;
  z-index: 1; /* Ensure the icon appears above other elements */
  width: 50px; /* Adjust these values to resize the image */
  height: 50px; /* Adjust these values to resize the image */
  object-fit: contain; /* This will ensure your image maintains aspect ratio and doesn't stretch */
}

.dropdown-container {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  padding: 1rem;
  border-radius: 4px;
}

input,
select,
button {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;  /* to align the elements at the top */
  width: 100%;
  height: 100%;
}

.left-side {
  width: 45%;
  height: 90vh;  /* change to 90vh to make them equal */
  padding: 10px;
  box-sizing: border-box;  /* include padding in element's total width and height */
  overflow-y: auto;  /* make it scrollable when the content overflows */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-side {
  width: 45%;
  height: 90vh;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*justifyContent: 'center', alignItems: 'center'*/
}

.rating-section {
  align-self: flex-end;
  margin-bottom: auto;
}
.rating-section h4 {
  font-size: 0.7rem;
}

hr {
  border: 1px solid ;
  height: 1px;
  background: black; /* or any color you prefer */
  width: 80%;
}

.vertical-divider {
  border-left: 1px solid #000;
  height: 90%;
  margin: 0 10px; /* to give some space from left and right */
}