.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.highlight {
  color: #FF9900;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.icon {
  position: absolute;
  top: -25px;
  left: 40px;
  z-index: 1;
  width: 125px;
  height: 125px;
  object-fit: contain;
}

.icon-alert {
  position: absolute;
  top: 50px;
  left: 40px;
  z-index: 1;
  width: 125px;
  height: 125px;
  object-fit: contain;
}

.dropdown-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem;
  background: #232f3e;
}

input,
select,
button {
  background-color: #00A6D6;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;  /* to align the elements at the top */
  width: 100%;
  height: 100%;
}


.left-side {
  width: 45%;
  height: 90vh;  /* change to 90vh to make them equal */
  padding: 10px;
  box-sizing: border-box;  /* include padding in element's total width and height */
  overflow-y: auto;  /* make it scrollable when the content overflows */
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-side {
  width: 45%;
  height: 90vh;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*justifyContent: 'center', alignItems: 'center'*/
}

.rating-section {
  align-self: flex-end;
  margin-bottom: auto;
}
.rating-section h4 {
  font-size: 0.7rem;
}

hr {
  border: 1px solid ;
  height: 1px;
  background: black; /* or any color you prefer */
  width: 80%;
}

.vertical-divider {
  border-left: 1px solid #000;
  height: 90%;
  margin: 20px 10px 0 10px; /* Add a top margin */
}