.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.dropdown-container {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  padding: 1rem;
  border-radius: 4px;
}

input,
select,
button {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.left-side {
  width: 45%;
  height: 95%;  /* change to 90vh to make them equal */
  padding: 10px;
  box-sizing: border-box;  /* include padding in element's total width and height */
  border: solid darkorange;
  border-width: 2px 2px;
  border-radius: 4px;
  overflow-y: auto;  /* make it scrollable when the content overflows */
}

.right-side {
  width: 45%; /* set the width of each Iframe to 45% */
  height: 95%;
  border: solid darkorange; /* change the border property to use a solid line */
  border-width: 2px 2px; /* add a 2px border to the right side of the left Iframe and the left side of the right Iframe */
  border-radius: 4px;
}